.footer {
    background: linear-gradient(to top, #5e3bbf, #ffffff);
    width: 100%;
    height: 10vh;
}
.footerDown {
    height: 30px;
    background-color: #5e3bbf ;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    max-width: 1280px;
}
nav ul li {
    color: #d1d1d1;
    padding-left: 10px;
    padding-right: 10px;
}
nav ul li a {
    color:#d1d1d1;
}