.Home {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  width: 100%;
  width: 100%;
}
h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bolder;
}
h2 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 15px;
  font-weight: 400;
  margin-bottom: 4rem;
}

button {
  font-size: 1rem;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border: none;
  margin-left: .5rem;
  border-radius: 60px;
  background-color: #734ce0;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #ffffff;
  color: #734ce0;
  border: 1px solid #734ce0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
input {
  font-size: 1.6rem;
  padding: 10px;
  width: 70vh;
  height: 10vh;
  border: .5px solid #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 20px;
}
.container {
  padding: 3rem;
  flex: 1;
}
.container:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container img {
  box-shadow: 10px 10px 10px #b5b5b5;
  border-radius: 1.5rem;
  max-width: 30rem;
}