.login {
    color: aliceblue;
    width: 130px;
    text-align: center;
    background-color: #5e3bbf;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.5s ease, 
                background-color 0.5s ease, 
                color 0.5s ease, 
                border 0.5s ease; 
}

.login:hover {
    color: #5e3bbf;
    background-color: rgb(255, 255, 255);
    border: 1px solid #5e3bbf;
    transform: translateY(-10px);
    transition: transform .5s ease;
}

@media (max-width : 330px) {
    .login {
        width: 100px;
    }
}
