.header {
    top: 0;
    position: sticky;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 10vh;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    background-color: #fff;
}
.logo img {
    height: 10vh;
}
a:hover {
    color: rgb(107, 132, 132);
}