.bandeira {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    font-size: 12px;
    width: 100px;
    border: 1px solid #fff;
    text-align: center;
}
select:active {
    border: 1px solid #fff;
}